#a-box{
    float: left;
    width: 220px;
    height: 200px;
    margin : 3px ;
    padding: 5px;
//    background-color: rgba(255,0,0,0.5);
    border-style: none dotted none dotted;
}
#b-box {
    float: left;
    width: 220px;
    height: 200px;
    margin : 3px ;
    padding: 5px;
    background-color: rgba(0,255,0,0.5);

}

#c-box {
    float: left;
    width: 220px;
    height: 200px;
    margin : 3px ;
    padding: 5px;
//    background-color: rgba(0,0,255,0.5);
    border-style: none dotted none dotted;
}

#box-box {
    width: 850px;
    margin : 3px ;
    padding: 5px;
    background-color: rgba(220,100,100,0.5);
}

.boxTable{
//    table-layout: fixed;
}

.boxTable td, th {
    padding: 2px 10px;
    white-space: nowrap;
}

furniture-box{
//    margin : 3px ;
//    padding: 5px;
ÅÉinput type="table" value="" style="text-align: right; "/ÅÑ
}